<ProgramInfo>
  <RequiredInfo>
    <FriendlyName>ssCertDay3</FriendlyName>
    <SystemName>ssCertDay3</SystemName>
    <EntryPoint>ssCertDay3</EntryPoint>
    <MinFirmwareVersion>1.009.0029</MinFirmwareVersion>
    <ProgramTool>SIMPL# Plugin</ProgramTool>
    <DesignToolId>5</DesignToolId>
    <ProgramToolId>5</ProgramToolId>
    <ArchiveName />
  </RequiredInfo>
  <OptionalInfo>
    <CompiledOn>7/28/2016 1:48:42 PM</CompiledOn>
    <CompilerRev>1.0.0.23060</CompilerRev>
  </OptionalInfo>
  <Plugin>
    <Version>Crestron.SIMPLSharp, Version=2.0.48.0, Culture=neutral, PublicKeyToken=812d080f93e2de10</Version>
    <Include4.dat />
  </Plugin>
</ProgramInfo>