<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SimplSharpPro" publicKeyToken="1099C178B3B54C3B" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.1-65535.65535.65535.65535" newVersion="1.5.2.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimplSharpHelperInterface" publicKeyToken="1099C178B3B54C3B" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.1-65535.65535.65535.65535" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ConsoleServiceBase" publicKeyToken="1099C178B3B54C3B" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.1-65535.65535.65535.65535" newVersion="1.0.5998.17654" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ManagedUtilities" publicKeyToken="1099C178B3B54C3B" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.1-65535.65535.65535.65535" newVersion="1.0.5998.17650" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ManagedUtilitiesCE" publicKeyToken="1099C178B3B54C3B" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.1-65535.65535.65535.65535" newVersion="1.0.5998.17651" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SmartThreadPoolCE" publicKeyToken="1099C178B3B54C3B" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.1-65535.65535.65535.65535" newVersion="1.0.5998.17677" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ConsoleServiceCE" publicKeyToken="1099C178B3B54C3B" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.1-65535.65535.65535.65535" newVersion="1.0.5998.17655" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimplSharpCustomAttributesInterface" publicKeyToken="1099C178B3B54C3B" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.1-65535.65535.65535.65535" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="1099C178B3B54C3B" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.1-65535.65535.65535.65535" newVersion="1.0.93.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SimplSharpReflectionInterface" publicKeyToken="1099C178B3B54C3B" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.1-65535.65535.65535.65535" newVersion="1.0.5583.25238" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>